@import url('https://fonts.googleapis.com/css?family=Istok+Web');

*:focus
{
    outline: none;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

html
{
    background-color: ghostwhite;
}

.deal_form ul
{
    /*background-color: red;*/
    width: 800px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.deal_form li
{
    padding: 15px;
    border-bottom: 1px solid #787878;
    position: relative;
}

.deal_form li:last-child
{
    border-bottom: 0px;
}

.required_notification
{
    vertical-align: top;
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
}

.deal_form label {
    width: 200px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}
.deal_form input
{
    height: 25px;
    width: 220px;
    padding: 5px 8px;
}
.deal_form textarea
{
    padding: 8px;
    width: 300px;
}

.deal_form input, .deal_form textarea
{
    border: 1px solid #aaa;
    box-shadow: 0px 1px 1px #ccc, 0 0px 0px #eee inset;
    border-radius: 5px;
}

.deal_form input:focus, .deal_form textarea:focus
{
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

input:required, textarea:required {
    background: #fff no-repeat 98% center;
}

.deal_form input:focus:invalid, .deal_form textarea:focus:invalid
{
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.reglog-a
{
    color: black;
    transition: 0.3s;
}

.main-head
{
    height: 60px;
    width: 100%;
    background-color: #234177;
    margin: 0 0 25px;
}

.main-footer
{
    height: 60px;
    width: 100%;
    background-color: #234177;
    margin: 10px 0 0;
}

.head-text-block
{
    padding: 10px 200px 10px;
}

.head-text
{
    font-size: 28px;
    color: white;
}

.head-reglog-box
{
    background-color: white;
    float: right;
    height: 50px;
    width: 300px;
    margin: 5px 10px 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #ccc, 0 0px 0px #eee inset;
}

reglog-head
{
    background-color: red;
    height: 40px;
    width: 250px;
    padding: 5px 10px 5px;
}

.reglog-box-text
{
    text-align: center;
    margin: 2px auto 2px;
}

.content_box {
    margin: 0 auto;
    width: 1000px;
    
}
.flex {
    display: flex;
    padding: 20px 0 0 0;
}
.menu {
    padding: 10px 0 0 10px;
    font-size: 14px;
    width: auto;
    box-shadow: 0 0 2px #000000;
    height: 100px;
    border-radius: 3px;
}

.article {
    background: white;
    padding: 10px 20px;
}

th {
    font-weight: normal;
    /*color: #039;*/
    padding: 10px 15px;
}
td {
    /*color: #669;*/
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}

/*
.main-footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #708090;
    color: #fff;
    width: 100%;
}
*/